@charset "utf-8";
/* CSS Document */

/* STUDENTS, PUT YOUR STYLES HERE */

.item_1_box {
	background-color:#090;
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	transition-delay: 250ms;
}

.item_1_box:hover {
	background-color: blue;
}

.item_2_box {
width: 50%;
transition-property: width;
transition-duration: 3s;
transition-timing-function: ease-in;
transition-delay: 250ms;
}

.item_2_box:hover {
width: 90%;
}

.item_3_box {
height: 1.2em;
transition-property: height;
transition-duration: .5s;
transition-timing-function: ease-in;
transition-delay: 250ms;
}

.item_3_box:hover {
height: 4em;
}

.item_4_box {
	transform: scale(1, 1);
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: ease-in;
	transition-delay: 250ms;
}

.item_4_box:hover {
	transform: scale(2, 2);
}

.item_5_box {
height: 1.2em;
opacity: 1;
transition-property: opacity;
transition-duration: .5s;
transition-timing-function: ease-in;
transition-delay: 250ms;
}

.item_5_box:hover {
opacity: .5;
}


.item_6_box {
	color:#ff9;
	font-size: 1em;
	transition: color .5s ease-in 1ms, color .5s ease-in 250ms, font-size .5s ease-in 1ms, color .5s ease-in 250ms;
}


.item_6_box:hover {
	color:#1e4cd7;
	font-size: 1.4em;
}

.item_7_box {
	border:#000 solid 1px;
	transition: border .5s ease-in 1ms, color .5s ease-in 250ms;
}

.item_7_box:hover {
	border:#fa0e0e solid 4px;
}

.item_8_box {
	width: 80%;
	padding-left: 4%;
	text-align:left;
	transition: width .5s ease-in 1ms, color .5s ease-in 250ms, padding-left .5s ease-in 1ms, color .5s ease-in 250ms ;
}

.item_8_box:hover {
	width: 64%;
	padding-left: 20%;
	text-align:left;
}


.item_9_box {
	box-shadow: 3px 3px 1px #888888;
	transition: box-shadow .5s ease-in 1ms, color .5s ease-in 250ms;
}

.item_9_box:hover {
	box-shadow: 15px 15px 15px #888888;
}

.item_10_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition: background-color .5s ease-in 1ms, color .5s ease-in 250ms, width .5s ease-in 1ms, color .5s ease-in 250ms, color .5s ease-in 1ms, color .5s ease-in 250ms;
}


.item_10_box:hover {
	width:80%;
	color:#25d4e6;
	background-color: #4d1f4e;
}



.item_11_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition:
	background-color .5s ease-in 1ms, color .5s ease-in 250ms,
	width .5s ease-in 1ms, color .5s ease-in 1s,
	color .5s ease-in 1ms, color .5s ease-in 1.5s;
}

.item_11_box:hover {
	width:80%;
	color:#092498;
	background-color: #413845;
}


.item_12_box {
	height: 4em;
}
.item_12_box .yellow_square{
	width:2em; height:2em;
	background-color: #ff9;
	margin:0 auto;
	transition: background-color .5s ease-in 1ms, color .5s ease-in 250ms;
}

.item_12_box:hover > .yellow_square{
	background-color: #ff0000;
}
.item_13_box {
	width:80%;
	height: 2.5em;
	transition: height .5s ease-in 1ms, color .5s ease-in 250ms;
}
.item_13_box a {
	display:block;
	overflow:hidden;
	height:.2em;
	background-color: #060;
	margin:.1em auto;
	transition: height .5s ease-in 1ms, color .5s ease-in 250ms;
}

.item_13_box:hover {
	height: 3.5em;
}

.item_13_box:hover > a{
	height: 1.5em;
}
.item_14_box {
	width: 150px;
	height: 34px;
	padding: 26px 0 0 0;
	background-image: url(../img/dog.gif);
	background-position: 0px 0px;
	transition: background-position .5s ease-in-out 1ms;
}

.item_14_box:hover {
	background-position: -150px 0px;
}


.item_15_box {
	box-shadow: 0px 0px 1px #888888;
	width: 60%;
	transition: box-shadow .5s ease-in 1ms, color .5s ease-in 250ms, width .5s ease-in 1ms, color .5s ease-in 250ms,
	font-size .5s ease-in 1ms, color .5s ease-in 250ms;
}

.item_15_box:hover {
	box-shadow: 5px 5px .7px #888888;
	width: 80%;
	font-size: 1.6rem;
}

/* DO NOT TOUCH STYLES BELOW HERE. Designing for mobile first */
html {	background-color:#210;
	font-size:100%;	}
body {	background-color:#dcb;
	font-size:90%;
	width:94%; max-width:1280px;
	margin: 0 auto 1rem auto;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.4;	}
header {	background-color:#765; }
main {
	display:block;
	padding: 1rem 1rem 1rem 1rem;
}
h1 { font-size:1.4em;
	font-weight:bold;
	padding:1rem;
	color: #fff; }

a  { color:#ddf;text-decoration:underline; }
a:link  { color:#ddf;  }
a:visited { color:#bbf; }
a:hover { color:#fff;   }
a:focus { color:#fff; }
a:active { color:#99f; }

.grid-container {
	padding: 2rem 0 0 0;
}
article {
	margin: 0 1% .5rem 0;
	position: relative;
	background-color:#fff;
	height: 16rem;
}
article header {
	background-color:#fed;
	padding: 1rem 1rem 1rem 1rem;
}
article footer {
	background-color:#fed;
	width:100%;
	font-style:italic;
	font-size: .8rem;
	color:#600;
	position:absolute;
	bottom:0;
	min-height:3rem;
}
article footer p {
	padding: 1rem 1rem 1rem 1rem;
}

/* DO NOT TOUCH. STYLES ALL THE GREEN ITEM BOXES SHARE */

section {
	background-color:#090;
	width: 50%; height: 1.2em;
	font-size: .9em;
	padding: 4%;
	color:#eed;
	text-align:center;
	margin: 6% auto 6% auto;
	cursor:pointer;
}


/* DO NOT TOUCH. Define styles that should only happen if the screen is wider */
@media screen and (min-width:481px){
	html{
		font-size:100%;
	}
}
@media screen and (min-width:721px){
	html{
		font-size:110%;
	}
	.grid-container {
		display:flex;
		flex-flow:row wrap;
		justify-content: left;
		padding: 2rem 0 0 0;
	}
	article {
		margin: 0 1% .5rem 0;
		flex:1 1 32%;
		height: 20rem;
	}
	article header {
		min-height:7rem;
	}
	article footer {
		width:100%;
	}
}
@media screen and (min-width:960px){
	html{
		font-size:115%;
	}
}
/* ADD YOUR CODE AT TOP OF PAGE */
