div {
  background: url("../img/irobot.png") no-repeat bottom right;
  background-size: 20%;
}

article {
  border: 1px solid black;
  width: 336px;
  height: 280px;


  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feccb1+0,f17432+1,f17432+10,ea5507+75,fb955e+100 */
background: #feccb1; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #feccb1 0%, #f17432 1%, #f17432 10%, #ea5507 75%, #fb955e 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #feccb1 0%,#f17432 1%,#f17432 10%,#ea5507 75%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #feccb1 0%,#f17432 1%,#f17432 10%,#ea5507 75%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;

}

p{
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  animation: name 5s ease-in-out 2s 1 forwards;
  top: -300px;
  position: relative;
}

#roomba {
  width: 40%;
  position: relative;
  animation: roomba 5s ease-in-out 2s 1 forwards;
  top:  -50px;
  left: 100px;
  transform: rotate(180deg);
}

@keyframes roomba {
	0%{
    top:  -50px;
    left: 100px;
    transform: rotate(180deg);
	}
  20% {
    top: 00px;
		left: 400px;
  }
	40% {
		top: 50px;
		left: -400px;
		transform: rotate(-90deg);
	}
	60% {
    top: 100px;
		left: 400px;
		transform: rotate(90deg);
	}
  80% {
    top: 150px;
		left: -400px;
		transform: rotate(-90deg);
  }
  100%{
		top: 200px;
		left: 100px;
		transform: rotate(0deg);
	}
}

@keyframes name {
	0%{
		top: -300px;
		left: 0px;
    color: red;
	}
	40% {
		top: -100px;
		left: 0px;
    color: blue;
	}
	66.66% {
		top: -50px;
		left: 0px;
    color: yellow;
	}
	100%{
		top: -50px;
		left: 0px;
    color: black;
	}
}
